<template>
  <v-container fluid>
    <v-row no-gutters>
      <v-col cols="12">
        <v-sheet class="pa-5 ma-5">
          <v-row no-gutters>
            <v-col cols="3" class="pa-5">
              <v-switch
                v-model="nolimit"
                class="ma-2"
                inset
                :label="`No Week Limit`"
                :disabled="!!status.state"
              ></v-switch>
              <v-switch
                v-model="gaussian"
                class="ma-2"
                inset
                :label="`Uniform/Gaussian`"
                :disabled="!!status.state"
              ></v-switch>
              <v-row no-gutters>
                <v-col cols="12">
                  <v-label>Population Size:</v-label>
                </v-col>
                <v-col cols="12">
                  <v-slider
                    v-model="n"
                    :min="11"
                    :max="200"
                    :thumb-size="24"
                    thumb-label
                    :disabled="!!status.state"
                  ></v-slider>
                </v-col>
              </v-row>

            </v-col>
            <v-col cols="3" class="pa-5">

              <v-btn @click="apiStart" class="ma-2" :disabled="!!status.state">Init</v-btn>
              <v-btn @click="apiSimulate" class="ma-2" :disabled="!status.state || status.state.finished || running">Week++</v-btn>
              <v-btn @click="apiClear" class="ma-2" :disabled="!status.state || running">Clear</v-btn>
              
              <v-row no-gutters>
                <v-col cols="12">
                  <v-label>Simulation Interval:</v-label>
                </v-col>
                <v-col cols="12">
                  <v-slider
                    :tick-labels="Array.from(Array(10).keys()).map(i => `${i+1}s`)"
                    :min="1"
                    :max="10"
                    v-model="secs"
                    :disabled="running"
                    ticks="always"
                    tick-size="10"
                  ></v-slider>
                </v-col>
              </v-row>

              <v-row no-gutters>
                <v-btn @click="startClock" class="ma-2" v-if="!running" :disabled="!status.state || status.state.finished">Run Simulation</v-btn>
                <template v-else>
                  <v-btn @click="stopClock" class="ma-2" :disabled="!status.state || status.state.finished">Pause Simulation</v-btn>
                  <v-progress-circular
                    :size="40"
                    :width="7"
                    color="purple"
                    indeterminate
                    class="ma-2"
                  ></v-progress-circular>
                </template>
                
              </v-row>

            </v-col>
            <v-col cols="3" class="pa-5">
              <template v-if="status.state">
                <v-row no-gutters class="pa-1">
                  <v-label>Mummy Money: MM$ {{status.mummy_money}}</v-label>
                </v-row>
                <v-row no-gutters class="pa-1">
                  <v-label>Week: {{status.state.week}}</v-label>
                </v-row>
                <v-row no-gutters class="pa-1">
                  <v-label>No Limit: {{status.state.nolimit}}</v-label>
                </v-row>
                <v-row no-gutters class="pa-1">
                  <v-label>Finished: {{status.state.finished}}</v-label>
                </v-row>
              </template>
            </v-col>
            <v-col cols="3" class="pa-5">
              <template v-if="status.state">
                <v-row no-gutters class="pa-1">
                  <v-label>Population: {{status.total_pop}}</v-label>
                </v-row>
                <v-row no-gutters class="pa-1">
                  <v-label>Members: {{status.members}}</v-label>
                </v-row>
                <v-row no-gutters class="pa-1">
                  <v-label>Non Members: {{status.non_members}}</v-label>
                </v-row>
                <v-row no-gutters class="pa-1">
                  <v-label>New Members: {{status.new_members}}</v-label>
                </v-row>
                <v-row no-gutters class="pa-1">
                  <v-label>Leaving Members: {{status.leaving_members}}</v-label>
                </v-row>
              </template>
            </v-col>
            <v-col cols="3">
            </v-col>
          </v-row>
        </v-sheet>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="4">
        <v-sheet class="pa-5 ma-5">
          <v-row class="pa-5">
            <v-label>Members Tree:</v-label>
          </v-row>
          <Tree
            :open="open"
            :items="status.mummy_tree"
            item_key="member.id"
            item_text="member.text"
            item_children="children"
            :onUpdateActive="treeSelect"
          />
        </v-sheet>
      </v-col>
      <v-col cols="4">
        <v-sheet class="pa-5 ma-5">
          <v-row class="pa-5">
            <v-label>Member Details:</v-label>
          </v-row>
          <v-label v-if="person">
          <strong>id: {{person.id}}</strong><br/>
          money: MM$ {{person.money}}<br/>
          innocence: {{person.innocence}}<br/>
          experience: {{person.experience}}<br/>
          charisma: {{person.charisma}}<br/>
          p_recruit: {{person.p_recruit}}<br/>
          p_invest: {{person.p_invest}}<br/>
          max_weeks: {{person.max_weeks}}<br/>
          first_week: {{person.first_week}}<br/>
          last_week: {{person.last_week}}<br/>
          is_member: {{person.is_member}}<br/>
          is_active: {{person.is_active}}<br/>
          is_new: {{person.is_new}}<br/>
          is_leaving: {{person.is_leaving}}<br/>
          recruiter: {{person.recruiter}}<br/>
          investors: {{person.investors}}<br/>
          recruit_attempts: {{person.recruit_attempts}}<br/>
          invest_attempts: {{person.invest_attempts}}

          </v-label>
          
        </v-sheet>
      </v-col>
      <v-col cols="4">
        <v-sheet class="pa-5 ma-5">
          <v-row class="pa-5">
            <v-label>Population:</v-label>
          </v-row>
          <ExpansionPanels :items="status.population"></ExpansionPanels>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<style lang="scss">
.col-4 {
  .v-sheet {
    min-height: 400px;
  }
}
</style>

<script>
import Tree from "../components/Tree";
import ExpansionPanels from "../components/ExpansionPanels";
import { sync } from 'vuex-pathify';
import { mapActions } from "vuex";

export default {
  components: {
    Tree,
    ExpansionPanels
  },
  computed: {
    ...sync(["n", "status", "open", "nolimit", "gaussian", "tree", "running", "secs", "interval", "person"])
  },
  methods: {
    ...mapActions([
      "apiStatus",
      "apiStart",
      "apiSimulate",
      "apiClear"
    ]),
    startClock(){
      let self = this
      self.running = true;
      self.interval = setInterval(()=>{
        self.apiSimulate()
      }, self.secs*1000)
      self.apiSimulate()
    },
    stopClock(){
      clearInterval(this.interval)
      this.running = false;
    },
    treeSelect(person_ids){
      let id = person_ids[0]
      this.person =this.status.population.find((person)=>{
        return person.id == id
      }) 
    }
  }
};
</script>
