<template>
    <v-expansion-panels
        :accordion="true"
        :popout="false"
        :inset="false"
        :multiple="false"
        :focusable="true"
        :disabled="false"
        :readonly="false"
        :items="items"
      >
        <v-expansion-panel
          v-for="(person,i) in items"
          :key="i"
        >
          <v-expansion-panel-header>{{person.text}}</v-expansion-panel-header>
          <v-expansion-panel-content>
            money: MM$ {{person.money}}<br/>
            innocence: {{person.innocence}}<br/>
            experience: {{person.experience}}<br/>
            charisma: {{person.charisma}}<br/>
            p_recruit: {{person.p_recruit}}<br/>
            p_invest: {{person.p_invest}}<br/>
            max_weeks: {{person.max_weeks}}<br/>
            first_week: {{person.first_week}}<br/>
            last_week: {{person.last_week}}<br/>
            is_member: {{person.is_member}}<br/>
            is_active: {{person.is_active}}<br/>
            is_new: {{person.is_new}}<br/>
            is_leaving: {{person.is_leaving}}<br/>
            recruiter: {{person.recruiter}}<br/>
            investors: {{person.investors}}<br/>
            recruit_attempts: {{person.recruit_attempts}}<br/>
            invest_attempts: {{person.invest_attempts}}
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
</template>

<script>

export default {
  props: ['items']
};
</script>

