<template>
  <v-treeview
    v-model="tree"
    :open=open
    :items="items"
    activatable
    :item-key="item_key"
    :item-text="item_text"
    :item-children="item_children"
    @update:active="onUpdateActive"
    dense
  >
    <template v-slot:prepend="{ item, open }">
      <img src="../static/img/mummy.svg" width="32" v-if="!item.member.recruiter" />
      <template v-else-if="item.member.recruiter == items[0].member.id">
        <v-icon v-if="item.member.is_active">mdi-account-star</v-icon>
        <v-icon v-else>mdi-account-star-outline</v-icon>
      </template>
      <template v-else-if="item.member.is_new">
        <v-icon v-if="item.member.is_active">mdi-account-arrow-left</v-icon>
        <v-icon v-else>mdi-account-arrow-left-outline</v-icon>
      </template>
      <template v-else-if="item.member.is_leaving">
        <v-icon v-if="item.member.is_active">mdi-account-arrow-right</v-icon>
        <v-icon v-else>mdi-account-arrow-right-outline</v-icon>
      </template>
      <template v-else-if="item.member.is_member">
        <v-icon v-if="item.member.is_active">mdi-account</v-icon>
        <v-icon v-else>mdi-account-outline</v-icon>
      </template>
      <template v-else>
        <v-icon>mdi-account-box-outline</v-icon>
      </template>
    </template>
  </v-treeview>
</template>

<script>

export default {
  props: ['open', 'items', 'item_key', 'item_text', 'item_children', 'tree', 'onUpdateActive']
};
</script>

